$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #d4d4d4;
$gray-400: #8b8b8b;
$gray-500: #adb5bd;
$gray-600: #585858;
$gray-700: #495057;
$gray-800: #3d3d3d;
$gray-900: #2a2a2a;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d5181a;
$maroon: #920002;
$orange: #fd7e14;
$yellow: #ffc107;
$darkGreen: #3d5a00;
$green: #28a745;
$lightGreen: #74aa50;
$lightestGreen: #f3feee;
$teal: #20c997;
$cyan: #17a2b8;
$merino: #f8f4ed;

$primary: $red;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-600;



// deprecated
$theme-colors: ();
$theme-colors: map-merge(("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark),
  $theme-colors);

$grays: ();
$grays: map-merge(("100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900),
  $grays);

$colors: ();
$colors: map-merge(("blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "darkGreen": $darkGreen,
    "lightGreen": $lightGreen,
    "lightestGreen": $lightestGreen,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800),
  $colors);