<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Personal</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    User details
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${user.getId()}"></td>
                        </tr>
                        <tr>
                            <th>first name</th>
                            <td th:text="${user.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>last name</th>
                            <td th:text="${user.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>email</th>
                            <td th:text="${user.getEmail()}"></td>
                        </tr>
                    </table>
                    <div class="btn-group">
                        <a class="btn" th:href="@{'/users/' + ${user.getId()} + '/update'}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
