@import "src/app/styles/styles";

:host {
  max-width: 100%;

  .card {
    min-height: 100%;
  }

  .load-btn-container {
    padding: 20px 0 30px;
    text-align: center;

    @media screen and (min-width: map_get($grid-breakpoints, 'sm')) {
      padding: 14px 0 30px;
    }

    @media screen and (min-width: map_get($grid-breakpoints, 'xl')) {
      padding: 24px 0 40px;
    }
  }
}
